@inject OMS.Auth.Services.SignInManager signIn
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OMS Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (signIn.IsSignedIn(User))
						{
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Member" asp-action="Index">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="ChildMember" asp-action="Index">Child Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="Main" asp-action="Index">Admin</a>
                            </li>
						}
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="dashboard" class="nav-link" asp-area="Admin" asp-controller="Main" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
						<a id="users" class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                </ul>
            </nav>
            <main role="main" class="col-md-9 pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            OMS @typeof(OMS.Program).Assembly.GetName().Version &copy; @DateTime.Today.Year - Kurt Carré - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if(ViewData["Active"] != null)
	{
        <script type="text/javascript">
            document.getElementById("@ViewData["Active"]").classList.add("disabled")
        </script>
	}
</body>
</html>
