@model IEnumerable<OMS.Models.Member>
@{
	ViewData["Title"] = "Members";
}

<h1>@ViewData["Title"]</h1>

<p><a asp-controller="Member" asp-action="Create" class="btn btn-primary">Create...</a></p>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.MemberNo)</th>
			<th>@Html.DisplayNameFor(model => model.Title)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.Address1)</th>
			<th>@Html.DisplayNameFor(model => model.Address2)</th>
			<th>@Html.DisplayNameFor(model => model.Parish)</th>
			<th>@Html.DisplayNameFor(model => model.PostCode)</th>
			<th>@Html.DisplayNameFor(model => model.Section)</th>
			<th>@Html.DisplayNameFor(model => model.Instrument)</th>
			<th>@Html.DisplayNameFor(model => model.Under18)</th>
			<th>@Html.DisplayNameFor(model => model.DateJoined)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var member in Model)
		{
		<tr>
			<td>
				<a asp-controller="Member" asp-action="Edit" asp-route-id="@member.MemberNo">@Html.DisplayFor(item => member.MemberNo)</a>
			</td>
			<td>
				@Html.DisplayFor(item => member.Title)
			</td>
			<td>
				@Html.DisplayFor(item => member.LastName)
			</td>
			<td>
				@Html.DisplayFor(item => member.FirstName)
			</td>
			<td>
				@Html.DisplayFor(item => member.Email)
			</td>
			<td>
				@Html.DisplayFor(item => member.Address1)
			</td>
			<td>
				@Html.DisplayFor(item => member.Address2)
			</td>
			<td>
				@Html.DisplayFor(item => member.Parish)
			</td>
			<td>
				@Html.DisplayFor(item => member.PostCode)
			</td>
			<td>
				@Html.DisplayFor(item => member.Section)
			</td>
			<td>
				@Html.DisplayFor(item => member.Instrument)
			</td>
			<td>
				@Html.DisplayFor(item => member.Under18)
			</td>
			<td>
				@Html.DisplayFor(item => member.DateJoined)
			</td>
			<td>
				<a class="btn btn-danger" asp-controller="Member" asp-action="Delete" asp-route-id="@member.MemberNo">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>